.menuList {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  .menuItem {
    display: flex;
    padding: 35px;
    gap: 20px;
    width: 50%;
    @media screen and (max-width: 1199px) {
      flex-direction: column;
    }
    @media screen and (max-width: 767px) {
      width: auto;
    }

    .imageContainer {
      img {
        width: 170px;
        aspect-ratio: 1/1;
        object-fit: cover;
        /*border-radius: 30%;*/
        @media screen and (max-width: 1199px) {
          width: 100%;
        }
      }
    }

    .itemInfo {
      span {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
